body,html,div,ul,li,span,p,nav,hr{
	margin:0;
	padding: 0;
}

body{
	background-color:rgba(240,240,240,0.8);
	padding-bottom: 200px; 
}
body a{
	text-decoration: none;
}
nav{
	width:60%;
	height:90px;
	min-width: 900px;
	margin-left: auto;
	margin-right: auto;

}

nav ul{
	width:100%;
	height: 90px;
	list-style: none;
}

nav ul li{
	display: inline-block;
	width:19.5%;
	height: 90px;
	line-height: 90px;
	text-align: center;

}

nav ul li a{
	color:#E3B5A4;
	font-family: Helvetica;
	font-size: 1em;
	font-weight: 700;
	vertical-align: middle;
	padding-top:15px;
	padding-bottom: 15px;
	padding-left: 5%;
	padding-right: 5%;
	text-decoration: none;

}

#calendar{
	border: 3px solid #E3B5A4;
	border-radius: 2px;
}

#main_title{
	font-family: 'Leckerli One';
	color:#773344;
	font-size: 1.5em;
	text-decoration: none;

}


nav ul li a:hover{
	text-decoration: none;
	color:white;
	background-color:#E3B5A4;
	border-radius: 2px;
	border: 3px solid #E3B5A4;
}

#main_title:hover{
	text-decoration: none;
	color:#773344;
	font-size: 1.5em;
	background-color:rgba(255,255,255,0);
	border-radius:0px;
	border: 0px;
}

#filter-sort{
	position: fixed;
	bottom:0;
	width: 100%;
	height: 60px;
	z-index: 99;
	background-color:#fff; 
	box-shadow: 0 10px 50px 0 rgba(0,0,0,0.8);
}

#filter-sort-wrapper{
	width:60%;
	min-width: 1000px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#filter{
	width: 100%;
	height: 100%;
	display: relative;
	line-height: 60px;
}

#filter ul{
	width:100%;
	height: 100%;
	list-style: none;
}

#filter ul li{
	display: inline-block;
	width:16%;
	height: 60px;
	line-height: 60px;
	text-align: center;

}

#filter ul li a{
	font-family: "Source Sans Pro";
	font-size: 1.5em;
	vertical-align: middle;
	padding-top:15px;
	padding-bottom: 15px;
	padding-left: 5%;
	padding-right: 5%;
	text-decoration: none;
	color: #D44D5C;
}

#filter #filter-p{
	color: white;
	background-color: #D44D5C;
	border-radius: 2px;
}

#filter a:hover{
	cursor:pointer;
	color:#E3B5A4;
}

#filter #filter-p:hover{
	cursor: default;
	color: white;
}

.back,.front{
	width: 240px;
	background-color: white;
	z-index: 8;
	border-radius: 10px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
}

.back{
	height: 100%;
	overflow-y: scroll;
}

.grid-item .back .detail{
	margin-left: 15px;
	margin-top: 10px;
	width: 210px;
	font:'Raleway';
	font-size:16px;
	text-align: left;
	white-space: pre-wrap;
	color: #4D4A4A;
}


.grid-item .back .detail a{
	color: #773344;
}


.grid{
	margin-top: 60px;
	width:80%;
	max-width: 1400px;
	min-width: 800px;
	margin-left: auto;
	margin-right: auto;
	z-index: 0;
}

.grid-item{
	width: 240px; 
	border-radius: 10px;
	background-color: rgba(240,240,240,0);
    text-align: center;
    margin:10px;
}


.grid-item img{
	width:240px;
	border-radius: 10px;
}


.grid-item p{
	font-size: 1.2em;
	font-family: 'Source Sans Pro';
	font-weight: 400;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
	margin-right: 8px;
}

.grid-item .event-name{
	color:#0B0014;
	font-size: 1.3em;
	font-weight: 600;
}

.grid-item .event-name .fa{
	font-size: 1em;
	margin-left: 8px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	color:#773344;
}

.grid-item .date_location{
	color: #d44d5c;
	font-weight:400;
	width: 90%;
	margin-left: 5%;
	font-size: 16px;
	color: gray;
	text-align: center;
}

.grid-item a {
	color:gray;
	font-weight: 500;
}

.grid-item .at-sign{
	color:#773344;
}

.grid-item .tag{
	margin-top: 8px;
	margin-bottom: 8px;
	color:rgb(227, 181, 164);
	font-size: 16px;
}

.grid-item .tag p{
	display: inline;
}

.grid-item .tag .fa{
	color: #6B6F70;
}

.grid .day{
	font-size: 2em;
	font-family: 'Lobster';
	float: right;
	color:#773344;
	margin-top: 2px;
	margin-bottom: 2px;
}


.grid-item img:hover{
	z-index: 2;
	background-color: rgba(0,0,0,0.6);
    box-shadow: 0 0 20px #888;
	opacity: 0.5;
}

.grid-item .fa-calendar-plus-o{
	font-size: 1.3em;
	color:#773344;
	float:left;
	margin-top: 12px;
	margin-left: 15px;
}

.fa-link,.fa-calendar-plus-o:hover{
	cursor: pointer;
}


.front img,p,hr,i,span{
	backface-visibility: hidden;
}


.back img,p,hr,i,span{
	backface-visibility: hidden;
}















